In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

from google.colab import drive
drive.mount('/content/drive')
drive_dir = '/content/drive/My Drive/MATH_3439/'

Mounted at /content/drive

###Cleaning

In [3]:
df = pd.read_csv(drive_dir + 'data/2016_austin_crime.csv')
df

       GO Primary Key  Council District  ... GO X Coordinate GO Y Coordinate
0        2.016102e+08               8.0  ...       3067322.0      10062796.0
1        2.016106e+08               9.0  ...       3114957.0      10070462.0
2        2.016109e+08               4.0  ...       3129181.0      10106923.0
3        2.016109e+08               9.0  ...       3113643.0      10070357.0
4        2.016110e+08               4.0  ...             NaN             NaN
...               ...               ...  ...             ...             ...
37456    2.016505e+10               7.0  ...       3117454.0      10109065.0
37457    2.016505e+10               9.0  ...       3113924.0      10070794.0
37458    2.016801e+10               1.0  ...       3132812.0      10084356.0
37459    2.016801e+10               3.0  ...       3131778.0      10062481.0
37460    2.016801e+10               9.0  ...       3113521.0      10079906.0

[37461 rows x 13 columns]

In [4]:
df = df.drop(['GO Primary Key' , 'GO Location' , 'GO Census Tract'], axis=1)

In [5]:
df.columns = ['council_district', 'apd_desc', 'fbi_desc', 'report_date', 'clearance_status', 'clearance_date', 'district', 'location_zip', 'x', 'y']
df

       council_district                        apd_desc  ...          x           y
0                   8.0  AGG ASLT ENHANC STRANGL/SUFFOC  ...  3067322.0  10062796.0
1                   9.0  THEFT                           ...  3114957.0  10070462.0
2                   4.0  AGG ROBBERY/DEADLY WEAPON       ...  3129181.0  10106923.0
3                   9.0  THEFT                           ...  3113643.0  10070357.0
4                   4.0  SEXUAL ASSAULT W/ OBJECT        ...        NaN         NaN
...                 ...                             ...  ...        ...         ...
37456               7.0  THEFT                           ...  3117454.0  10109065.0
37457               9.0  THEFT                           ...  3113924.0  10070794.0
37458               1.0  BURGLARY OF VEHICLE             ...  3132812.0  10084356.0
37459               3.0  BURGLARY OF VEHICLE             ...  3131778.0  10062481.0
37460               9.0  BURGLARY OF VEHICLE             ...  3113521.0  10079906.0

[37461 rows x 10 columns]

In [6]:
df = df.dropna()

In [7]:
df['apd_desc'] = df['apd_desc'].str.strip()
df['fbi_desc'] = df['fbi_desc'].str.strip()
df['clearance_status'] = df['clearance_status'].str.strip()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [8]:
df['council_district'] = df['council_district'].astype(int)
df['location_zip'] = df['location_zip'].astype(int)
df['x'] = df['x'].astype(int)
df['y'] = df['y'].astype(int)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

###ZIP Assault

In [9]:
df['fbi_desc'].value_counts()

Theft          24845
Burglary        5025
Agg Assault     2086
Auto Theft      1988
Robbery          911
Murder            30
Name: fbi_desc, dtype: int64

In [10]:
assault_df = df[df['fbi_desc'] == 'Agg Assault']
assault_df

       council_district                        apd_desc  ...        x         y
0                     8  AGG ASLT ENHANC STRANGL/SUFFOC  ...  3067322  10062796
5                     1                  DEADLY CONDUCT  ...  3146947  10077985
7                     3   AGG ASSAULT FAM/DATE VIOLENCE  ...  3122230  10059265
8                     5     AGG ASLT STRANGLE/SUFFOCATE  ...  3099793  10058337
13                    2                  DEADLY CONDUCT  ...  3115830  10042476
...                 ...                             ...  ...      ...       ...
37388                 3     AGG ASLT STRANGLE/SUFFOCATE  ...  3117791  10053978
37389                 4     AGG ASLT STRANGLE/SUFFOCATE  ...  3133940  10101616
37424                 4                     AGG ASSAULT  ...  3130873  10104034
37427                 3  AGG ASLT ENHANC STRANGL/SUFFOC  ...  3122229  10059265
37429                 4                     AGG ASSAULT  ...  3129116  10092808

[2086 rows x 10 columns]

In [ ]:
assault_df['apd_desc'].value_counts()

AGG ASSAULT                       840
AGG ASLT STRANGLE/SUFFOCATE       599
AGG ASSAULT FAM/DATE VIOLENCE     333
DEADLY CONDUCT                    137
AGG ASSAULT WITH MOTOR VEH         66
AGG ASLT ENHANC STRANGL/SUFFOC     53
AGG ASLT W/MOTOR VEH FAM/DAT V     26
AGG ASSAULT ON PUBLIC SERVANT      20
TAKE WEAPON FRM POLICE OFFICER      8
DEADLY CONDUCT FAM/DATE VIOL        3
SERIOUS INJURY TO A CHILD           1
Name: apd_desc, dtype: int64

In [19]:
assault_df['apd_desc'].value_counts().shape

(11,)

In [11]:
agg_df = assault_df[assault_df['apd_desc']=='AGG ASSAULT']
strangle_df = assault_df[assault_df['apd_desc']=='AGG ASLT STRANGLE/SUFFOCATE']
famdate_df = assault_df[assault_df['apd_desc']=='AGG ASSAULT FAM/DATE VIOLENCE']
deadly_df = assault_df[assault_df['apd_desc']=='DEADLY CONDUCT']

In [12]:
agg_df['location_zip'].value_counts().head(3)

78753    86
78741    83
78701    75
Name: location_zip, dtype: int64

###78753
- Small Homeless population (.4%)
- Median Household Income of $52,767
- Far North Austin--Almost in Pflugerville

###78741
- East of St. Edward's

###78701
- Downtown Austin
- Very dense with restaurants and bars

In [13]:
strangle_df['location_zip'].value_counts().head(3)

78741    77
78753    70
78758    58
Name: location_zip, dtype: int64

In [14]:
famdate_df['location_zip'].value_counts().head(3)

78758    37
78753    36
78723    29
Name: location_zip, dtype: int64

In [15]:
deadly_df['location_zip'].value_counts().head(3)

78744    17
78702    15
78758    15
Name: location_zip, dtype: int64